Repository madara-alliance/madara, pull requests merged in 2025-06, with the labels that each got.

#684 fix(artifacts): invalid ci
  .artifact-versions.yml
  .github/workflows/task-build-artifacts.yml
  build-artifacts/src/lib.rs
Labels: bug, artifacts-update

#679 feat(`starknet_subscribeTransactionStatus`)
  Cargo.lock
  madara/crates/client/block_production/src/lib.rs
  madara/crates/client/db/src/block_db.rs
  madara/crates/client/db/src/lib.rs
  madara/crates/client/db/src/watch.rs
  madara/crates/client/devnet/src/lib.rs
  madara/crates/client/gateway/client/src/submit_tx.rs
  madara/crates/client/mempool/src/inner/mod.rs
  madara/crates/client/mempool/src/inner/property_testing.rs
  madara/crates/client/mempool/src/lib.rs
  madara/crates/client/rpc/Cargo.toml
  madara/crates/client/rpc/src/test_utils.rs
  madara/crates/client/rpc/src/versions/user/v0_7_1/api.rs
  madara/crates/client/rpc/src/versions/user/v0_7_1/methods/read/get_transaction_status.rs
  madara/crates/client/rpc/src/versions/user/v0_7_1/methods/read/lib.rs
  madara/crates/client/rpc/src/versions/user/v0_8_0/api.rs
  madara/crates/client/rpc/src/versions/user/v0_8_0/methods/ws/lib.rs
  madara/crates/client/rpc/src/versions/user/v0_8_0/methods/ws/mod.rs
  madara/crates/client/rpc/src/versions/user/v0_8_0/methods/ws/subscribe_transaction_status.rs
  madara/crates/client/submit_tx/Cargo.toml
  madara/crates/client/submit_tx/src/lib.rs
  madara/crates/client/submit_tx/src/validation.rs
  madara/crates/node/Cargo.toml
  madara/crates/primitives/rpc/src/lib.rs
  madara/crates/primitives/rpc/src/v0_7_1/starknet_api_openrpc.rs
  madara/crates/primitives/rpc/src/v0_8_1/mod.rs
  madara/crates/primitives/rpc/src/v0_8_1/starknet_ws_api.rs
  madara/src/submit_tx.rs
Labels: node, rpc-v0.8.0

#696 fix: task test orch was missing orchestrator crate
  .github/workflows/task-test-orchestrator.yml
Labels: bug, infrastructure, CI / CD
