Repository madara-alliance/madara, pull requests merged in 2025-08, with the labels that each got.

#751 fix: bootstrapper environment variables
  bootstrapper/src/configs/devnet.json
  bootstrapper/src/main.rs
Labels: bug, bootstrapper

#632 add: logic for stateless compression
  .env.test
  Cargo.lock
  Cargo.toml
  e2e-tests/src/node.rs
  orchestrator/Cargo.toml
  orchestrator/crates/settlement-clients/starknet/src/tests/setup.rs
  orchestrator/crates/utils/Cargo.toml
  orchestrator/crates/utils/src/lib.rs
  orchestrator/crates/utils/src/test_utils.rs
  orchestrator/src/cli/mod.rs
  orchestrator/src/compression/blob/da.rs
  orchestrator/src/compression/blob/mod.rs
  orchestrator/src/compression/blob/state_update.rs
  orchestrator/src/compression/mod.rs
  orchestrator/src/compression/squash.rs
  orchestrator/src/compression/stateful.rs
  orchestrator/src/compression/stateless/bitops.rs
  orchestrator/src/compression/stateless/buckets.rs
  orchestrator/src/compression/stateless/compress.rs
  orchestrator/src/compression/stateless/constants.rs
  orchestrator/src/compression/stateless/mod.rs
  orchestrator/src/compression/stateless/utils.rs
  orchestrator/src/compression/utils.rs
  orchestrator/src/core/client/database/mod.rs
  orchestrator/src/core/client/database/mongodb.rs
  orchestrator/src/core/config.rs
  orchestrator/src/lib.rs
  orchestrator/src/tests/compression/mod.rs
  orchestrator/src/tests/config.rs
  orchestrator/src/tests/database/mod.rs
  orchestrator/src/tests/jobs/batching_job/mod.rs
  orchestrator/src/tests/jobs/mod.rs
  orchestrator/src/tests/jobs/snos_job/mod.rs
  orchestrator/src/tests/mod.rs
  orchestrator/src/tests/utils.rs
  orchestrator/src/tests/workers/batching/mod.rs
  orchestrator/src/types/batch.rs
  orchestrator/src/types/constant.rs
  orchestrator/src/utils/helpers.rs
  orchestrator/src/worker/event_handler/jobs/da.rs
  orchestrator/src/worker/event_handler/triggers/batching.rs
Labels: orchestrator, AR

#734 E2E : 1 : Mock Atlantic, Dummy Verifier
  Cargo.lock
  Cargo.toml
  test_utils/crates/mock-atlantic-server/Cargo.toml
  test_utils/crates/mock-atlantic-server/README.md
  test_utils/crates/mock-atlantic-server/src/lib.rs
  test_utils/crates/mock-atlantic-server/src/main.rs
  test_utils/crates/mock-atlantic-server/src/server.rs
  test_utils/crates/mock-atlantic-server/src/types.rs
  test_utils/crates/mock-atlantic-server/swagger.json
  test_utils/scripts/artifacts/MockGPSVerifier.sol
  test_utils/scripts/deploy_dummy_verifier.sh
Labels: E2E

#740 E2E: 2 : Init + Server
  .gitignore
  Cargo.lock
  Cargo.toml
  e2e/Cargo.toml
  e2e/src/mod.rs
  e2e/src/services/anvil/config.rs
  e2e/src/services/anvil/mod.rs
  e2e/src/services/bootstrapper/config.rs
  e2e/src/services/bootstrapper/mod.rs
  e2e/src/services/constants.rs
  e2e/src/services/docker.rs
  e2e/src/services/helpers.rs
  e2e/src/services/localstack/config.rs
  e2e/src/services/localstack/mod.rs
  e2e/src/services/madara/config.rs
  e2e/src/services/madara/mod.rs
  e2e/src/services/mock_prover/config.rs
  e2e/src/services/mock_prover/mod.rs
  e2e/src/services/mock_verifier/config.rs
  e2e/src/services/mock_verifier/mod.rs
  e2e/src/services/mod.rs
  e2e/src/services/mongodb/config.rs
  e2e/src/services/mongodb/mod.rs
  e2e/src/services/orchestrator/config.rs
  e2e/src/services/orchestrator/mod.rs
  e2e/src/services/pathfinder/config.rs
  e2e/src/services/pathfinder/mod.rs
  e2e/src/services/server.rs
Labels: E2E

#760 E2E: 13 : Adding: Deposit + Withdraw test
  .github/workflows/task-test-end-to-end.yml
  Cargo.lock
  Cargo.toml
  e2e/Cargo.toml
  e2e/config/bootstrapper.json
  e2e/config/madara.yaml
  e2e/src/mod.rs
  e2e/src/services/helpers.rs
  e2e/src/services/madara/config.rs
  e2e/src/services/madara/mod.rs
  e2e/src/services/orchestrator/config.rs
  e2e/src/services/pathfinder/config.rs
  e2e/src/services/pathfinder/mod.rs
  e2e/src/setup/config.rs
  e2e/src/setup/lifecycle_management.rs
  e2e/src/setup/mod.rs
  e2e/src/setup/service_management.rs
  e2e/src/test.rs
  e2e/src/tests/deposit_withdraw/mod.rs
  e2e/src/tests/deposit_withdraw/utils.rs
  e2e/src/tests/mod.rs
  e2e/src/tests/setup.rs
  package-lock.json
Labels: E2E

#752 E2E: 12 : Github Workflow
  .env.e2e
  .github/workflows/pull-request-main-ci.yml
  .github/workflows/task-build-binary.yml
  .github/workflows/task-build-bootstrapper.yml
  .github/workflows/task-build-orchestrator.yml
  .github/workflows/task-test-end-to-end.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  e2e/Cargo.toml
  e2e/config/bootstrapper.json
  e2e/config/madara.yaml
  e2e/src/mod.rs
  e2e/src/services/helpers.rs
  e2e/src/services/madara/config.rs
  e2e/src/services/madara/mod.rs
  e2e/src/services/orchestrator/config.rs
  e2e/src/services/pathfinder/config.rs
  e2e/src/services/pathfinder/mod.rs
  e2e/src/setup/config.rs
  e2e/src/setup/lifecycle_management.rs
  e2e/src/setup/mod.rs
  e2e/src/setup/service_management.rs
  e2e/src/test.rs
  e2e/src/tests/deposit_withdraw/mod.rs
  e2e/src/tests/deposit_withdraw/utils.rs
  e2e/src/tests/mod.rs
  e2e/src/tests/setup.rs
  package-lock.json
Labels: E2E

#764 feat: Add Atlantic mock server and dummy verifier for L3 testing
  Cargo.lock
  Makefile
  orchestrator/Cargo.toml
  orchestrator/Dockerfile
  orchestrator/src/cli/mod.rs
  orchestrator/src/cli/prover/atlantic.rs
  orchestrator/src/core/config.rs
  package-lock.json
  package.json
  test_utils/crates/mock-atlantic-server/Cargo.toml
  test_utils/crates/mock-atlantic-server/src/lib.rs
  test_utils/crates/mock-atlantic-server/src/main.rs
  test_utils/crates/mock-atlantic-server/src/server.rs
  test_utils/crates/mock-atlantic-server/src/types.rs
Labels: orchestrator
